services:
  kafka:
    image: apache/kafka:3.7.0
    container_name: kafka
    restart: unless-stopped
    ports:
      - "9094:9094"
    volumes:
      - /home/ec2-user/app/my-besto-friendo/pinot:/app
      - /home/ec2-user/app/my-besto-friendo/pinot/data/kafka:/var/lib/kafka/data
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,EXTERNAL://localhost:9094
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_LOG_DIRS: /var/lib/kafka/data
    networks:
      - app-network
    healthcheck:
      test: [ "CMD-SHELL", "/opt/kafka/bin/kafka-broker-api-versions.sh --bootstrap-server localhost:9092" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10s

  nginx:
    image: nginx:latest
    container_name: "nginx"
    restart: unless-stopped
    network_mode: "host"
    volumes:
      - /home/ec2-user/app/my-besto-friendo/pinot/nginx/nginx.conf:/etc/nginx/nginx.conf
      - /home/ec2-user/app/my-besto-friendo/pinot/data/nginx/.htpasswd:/etc/nginx/.htpasswd
      - /home/ec2-user/app/my-besto-friendo/pinot/data/nginx/logs/:/var/log/nginx/
      - /home/ec2-user/app/my-besto-friendo/frontend/dist:/etc/nginx/html

networks:
  app-network:
    driver: bridge
